.z-logo {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer {
    background: #dee2e6;
    width: 100%;
    height: 200px;
}
