@import url('https://fonts.googleapis.com/css?family=Numans');

.user-profile-top-menu {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    height: 50px;
    background: #f4f4f4;
    border-bottom: #E3E3E3 solid 0px;
    overflow: hidden;
}
.wrap {
    position: relative;
}
.wrap .content-wrap {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
}
.user-profile-top-menu ul {
    float: left;
    width: auto;
}
.user-profile-top-menu ul li {
    float: left;
    width: auto;
    margin: 0 20px 0 0;
    list-style: none;
}
.user-profile-top-menu ul li a {
    float: left;
    width: auto;
    margin: 0;
    font-size: 15px;
    line-height: 50px;
}
.user-profile-top-menu ul li a img.icon-home {
    float: left;
    width: 24px;
    height: 24px;
    margin: 13px 0 0 0;
}

html,body{
    background: gainsboro;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto!important;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card-edit-profile{
    height: auto;
    margin: 10px;
    width: 500px;
    background-color: silver!important;
}
.card-changer-pass{
    height: auto;
    margin: 10px;
    width: 500px;
    background-color: silver !important;
}

.card-header{
    background: #2b303b;
}

.card-changer-pass h6{
    color: white;
}

.card-header h3{
    color: white;
}

.update_btn{
    color: white;
    background-color: black;
    width: 150px;
}

.update_btn:hover{
    color: white;
    background-color: forestgreen;
}


